.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login__img {}

.login__img>img {
  object-fit: contain;
  height: 150px;
}

.login>button {
  background-color: rgb(67, 143, 241);
  width: 300px;
  color: rgb(189, 212, 231);
  font-weight: 800;
}

.login>button:hover {
  color: rgb(67, 143, 241);
  background-color: rgb(175, 209, 238)
}