.messageSender {
  display: flex;
  margin-top: 30px;
  box-shadow: 0px 5px 10px -5px black;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  width: 100%;
}

.messageSender__top {
  display: flex;
  border-bottom: 1px rgb(177, 167, 167) solid;
  padding: 15px;
}

.messageSender__top>form {
  display: flex;
  flex: 1;
}

.messageSender__top>form>input {
  border-radius: 999px;
  border: none;
  margin: 0 10px;
  background-color: whitesmoke;
  padding: 0 15px 0 15px;
  outline-width: 0;
}

.messageSender__top>form>button {
  display: none;
}

.messageSender__input {
  flex: 1;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  color: gray;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.messageSender__option:hover {
  color: gray;
  padding: 20px;
  display: flex;
  background-color: rgb(243, 239, 239);
  align-items: center;
  margin: 5px;
  border-radius: 15px;
}

.messageSender__option>h3 {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
}